

.header {
	display: flex;
	align-items: center;	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 30px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-right: 30px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 20px;
	color: var(--black);
	text-decoration: none;
}

.menu-item::visited {
	color: var(--black);
}

.menu__counter {
	font-weight: 600;
	font-size: 12px;
	line-height: 30px;
	border: 1px solid var(--black);
	border-radius: 50%;
	padding: 0px 10px;
}


