.search {
	display: flex;
	width: 100%;
	gap: 10px;
	margin-bottom: 30px;
}

.search__wrapper {
	position: relative;
	flex: 1;
	display: flex;
}

.search__wrapper img {
	position: absolute;
	left: 5px;
	top: 5px;
}

.search__input {
	background: #DEDEDE;
	flex: 1;
	border: none;
	border-radius: 5px;
	color: #252525;
	padding: 15px 30px 15px 70px;
}


.search__input::placeholder {
	color: #494949;
}


